@charset "UTF-8";
/* Young's Main CSS File */
/* 내꺼니까 아무것도 건들지마라 */

	body {
      background: url("/myWeb/resources/images/background.jpg") no-repeat;
      background-size: cover;
   }
   .wrap {
      background: black;
      width: 100%;
      height: 50px;
   }
   .menu *{
     /*  background:black; */
     /*  color:white; */
      text-align:center;
      /* vertical-align:middle; */
      width:150px;
      height:50px;
      /* display:table-cell; */
   }
   .nav {
      width: 600px;
      margin-left: auto;
      margin-right: auto;
   }
   .menu *:hover{
      background: rgba(74, 132, 238, 0.76);
      color: orangered;
      font-weight: bold;
      cursor: pointer;
   }
   
   .btns {
      align: center;
   }
   
   #loginBtn, #memberJoinBtn, #logoutBtn, #changeInfo {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      background: orangered;
      color: white;
      height: 25px;
      width: 100px;
      border-radius: 5px;
   }
   
   #memberJoinBtn {
      background:yellowgreen;
   }
   
   #loginBtn:hover, #changeInfo:hover, #logoutBtn:hover, #memberJoinBtn:hover{
      cursor:pointer;
   }
   .loginArea > form, #userInfo {
      float:right;
   }
   #logout, #changeInfo {
      background:orangered;
      color:white;
      text-decoration:none;
      border-radius:5px;
   }
   #changeInfo {
      background:yellowgreen;
   }
   
   .background {
      width: 100%;
      height: 450px;
   }
   .tile {
      width: 150px;
      height: 150px;
      background: black;
      display: inline-block;
      color: white;
      
   }
   .first-line {
      margin-top: 10%;
   }
   
   .tile1 {
      background: yellow;
   }
   
   .tile-menu:hover {
      background: blue;
      cursor: pointer;
      color: white;
   }
   
   .notile{
      visibility:hidden;
   }
   
   img {
   		width : 100%;
   		height : 400px;
   }
   
   
   
.btn-circle {
	width: 90px;
	height: 90px;
	background : rgba(250,250,250, 1.0);
	line-height: 40px; /* adjust line height to align vertically*/
	padding:0;
	border-radius: 50%;
}
#follow-footer{
	float: right;
}
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}
#fixedbutton{
	position:fixed;
	right:10px;
	bottom:0;
}


.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}
        
/*Right*/
.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}
	
.modal.right.fade.in .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #EEEEEE;
	background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #FFFFFF;
}

.btn-demo:focus {
	outline: 0;
}

.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}

.demo-footer > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}
/* 모달 확인 용 */