@charset "UTF-8";
/* Young's Main CSS File */
/* 내꺼니까 아무것도 건들지마라 */

	body {
      background: url("/myWeb/resources/images/background.jpg") no-repeat;
      background-size: cover;
   }
   .wrap {
      background: black;
      width: 100%;
      height: 50px;
   }
   .menu *{
     /*  background:black; */
     /*  color:white; */
      text-align:center;
      /* vertical-align:middle; */
      width:150px;
      height:50px;
      /* display:table-cell; */
   }
   .nav {
      width: 600px;
      margin-left: auto;
      margin-right: auto;
   }
   .menu *:hover{
      background: rgba(74, 132, 238, 0.76);
      color: orangered;
      font-weight: bold;
      cursor: pointer;
   }
   
   .btns {
      align: center;
   }
   
   #loginBtn, #memberJoinBtn, #logoutBtn, #changeInfo {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      background: orangered;
      color: white;
      height: 25px;
      width: 100px;
      border-radius: 5px;
   }
   
   #memberJoinBtn {
      background:yellowgreen;
   }
   
   #loginBtn:hover, #changeInfo:hover, #logoutBtn:hover, #memberJoinBtn:hover{
      cursor:pointer;
   }
   .loginArea > form, #userInfo {
      float:right;
   }
   #logout, #changeInfo {
      background:orangered;
      color:white;
      text-decoration:none;
      border-radius:5px;
   }
   #changeInfo {
      background:yellowgreen;
   }
   
   .background {
      width: 100%;
      height: 450px;
   }
   .tile {
      width: 150px;
      height: 150px;
      background: black;
      display: inline-block;
      color: white;
      
   }
   .first-line {
      margin-top: 10%;
   }
   
   .tile1 {
      background: yellow;
   }
   
   .tile-menu:hover {
      background: blue;
      cursor: pointer;
      color: white;
   }
   
   .notile{
      visibility:hidden;
   }
   
   img {
   		width : 100%;
   		height : 400px;
   }
   
   
   
