@charset "UTF-8";

.btn-circle {
	width: 90px;
	height: 90px;
	background : rgba(250,250,250, 1.0);
	line-height: 40px; /* adjust line height to align vertically*/
	padding:0;
	border-radius: 50%;
}
#follow-footer{
	float: right;
}
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}
#fixedbutton{
	position:fixed;
	right:10px;
	bottom:0;
}


.modal.right .modal-content {
	height: 100%;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}
        
/*Right*/
.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}
	
.modal.right.fade.in .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #EEEEEE;
	background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #FFFFFF;
}

.btn-demo:focus {
	outline: 0;
}

.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}

.demo-footer > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}
/* 모달 확인 용 */

/* -------------------------- */

/* chat Box Css */

#messageWindow {
	font-size: small;
    height:500px;
    overflow:auto;
    border-style: solid;
    border-color: #AFC2D4;
    border-top-right-radius : 10px;
    border-top-left-radius : 10px;
    border-bottom-right-radius : 10px;
    border-bottom-left-radius : 10px;
	/* background: #AFC2D4; */
}

#sendBtn{
	margin-left: 15px;
    margin-top:-35px; 
    vertical-align: middle;
    color: blue;
}

#userWindow {
	font-size: small;
	text-align: center;
	color: green;
	border-style: solid;
    border-color: #e0fee0;
    height:500px;
    overflow:auto;
    border-top-right-radius : 10px;
    border-top-left-radius : 10px;
    border-bottom-right-radius : 10px;
    border-bottom-left-radius : 10px;
	/* background: #e0fee0; */
 }
 
 .chat_content{
 	word-break:break-all;
    background: rgba(255, 255, 102, 0.5);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    margin: 10px;
    float: right;
    clear: both;
 }
 
 .chat_content:after{
   content: '';
   position: absolute;
   right: 0;
   top: 50%;
   width: 0;
   height: 0;
   border: 20px solid transparent;
   border-left-color: rgba(255, 255, 102, 0.5);
   border-right: 0;
   border-top: 0;
   margin-top: -3.5px;
   margin-right: -10px;
 }

 .other-side {
	word-break:break-all;
    background: green;
    float:left;
    clear:both;
 }
 
 .other-side:after{
   content: '';
   position: absolute;
   left: 0;
   top: 50%;
   width: 0;
   height: 0;
   border: 20px solid transparent;
   border-right-color: green;
   border-left: 0;
   border-top: 0;
   margin-top: -3.5px;
   margin-left: -10px;
 }
 
 .chat_time{
 	font-size: xx-small;
    display: inline-block;
    position: relative;
    float: right;
    clear: both;
 }
 .chat_recieve_time{
 	font-size: xx-small;
    display: inline-block;
    position: relative;
    float: left;
    clear: both;
 }














